.home-hero {
  display: flex;
  justify-content: space-between;
  padding: 9.38rem 7.5rem;
}

.hero {
  width: 36rem;
  height: 25.25rem;
}

.hero-title span {
  color: rgba(181, 93, 81, 0.97);
}

.hero-text {
  color: #878787;
  font-size: 1.5rem;
  line-height: 2rem;
}

.hero-log-text {
  color: #878787;
  font-size: 1rem;
  line-height: 1.625rem;
}

.hero-log-text a {
  color: rgba(181, 93, 81, 0.97);
  text-decoration: none;
}

.home-hero-right img {
  width: 100%;
  height: 100%;
}

.home-section {
  display: flex;
  padding: 0 7.5rem;
  padding-bottom: 4.5rem;
}

.home-section-right {
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-section-right h2 span {
  color: rgba(181, 93, 81, 0.97);
}

.home-section-right p {
  color: #878787;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2.5rem;
}

.home-trending-recipe {
  padding: 0 7.5rem;
}

.home-trending-recipe-view-more {
  text-align: right;
  color: rgba(181, 93, 81, 0.97);
  font-size: 1.5rem;
  font-weight: 500;
}

.home-trending-recipe-view-more:hover {
  color: #878787;
  cursor: pointer;
}
